{% extends 'shared/layout.html' %}

{% block content %}
    <h1>Articles</h1>
    <ul>
        {% for article in object_list %}
        <li>
            <h1>{{ article.title }}</h1><br />
            <h2>{{ article.summury }}</h2><br />
            <img src="{{article.image.url}}" alt="Photo doesnt exist" style="max-width: 500px;"><br />
            <a href="/article/{{article.pk}}">Reade more</a>

        </li>
            {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
