{% extends 'shared/layout.html' %}

{% block content %}
<h1>Our employees</h1>
<section class="flex">
    {% for employe in object_list %}
    <table border="1" class="flex_section_item">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Informations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">
                    <img alt="Hmmm..." src="{{employe.photo.url}}" width="70" height="70" />
                </td>
                <td>{{ employe.first_name }}</td>
            </tr>
            <tr>
                <td>{{ employe.last_name }}</td>
            </tr>
            <tr>
                <td>{{ employe.position }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ employe.phone_number }}</td>
            </tr>

        </tbody>
    </table>
    {% endfor %}
    <!--<ul>
        {% for employee in object_list %}
        <li>
            <img src="{{employee.photo.url}}" alt="employee image" style="max-width: 500px;"><br />
            <h3>{{employee.first_name}}</h3>
            <h3>{{employee.last_name}}</h3>
            <h3>{{ employee.position }}</h3>
            <h3>{{ employee.phone_number}}</h3><br />
        </li>
        {% empty %}
        <li>No employees yet.</li>
        {% endfor %}
    </ul>-->
</section>
{% endblock %}
