{% extends "shared/layout.html" %}

{% block content %}
<h1>Excursions</h1>
<section class="grid-container">
    {% if excursion_list %}

    {% for excursion in excursion_list %}
    <table border="1" class="grid-container-item">
        <thead>
            <tr>
                <th>Guide</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">
                    <img alt="Hmmm..." src="{{excursion.guide.photo.url}}" width="70" height="70" />
                </td>
                <td>{{ excursion.name }}</td>
            </tr>
            <tr>
                <td>{{ excursion.date }}</td>
            </tr>
            <tr>
                <td>{{ excursion.group_amount }}</td>
            </tr>

        </tbody>
    </table>


    {% endfor %}

    {% else %}
    <p>There are no excursion</p>
    {% endif %}
</section>
{% endblock %}