{% extends "shared/layout.html" %}

{% block content %}
<section>
    <h1>Excursions</h1>
    {% if excursion_list %}
    <ul>

        {% for excursion in excursion_list %}
        <li>
            Name: {{ excursion.name }}
        </li>
        <li>
            Date: {{ excursion.date }}
        </li>
        <li>
            Group amount: {{ excursion.group_amount }}
        </li>
        <li>
            Guide: {{ excursion.guide }}
            <hr />
        </li>
        

        {% endfor %}

    </ul>
    {% else %}
    <p>There are no excursion</p>
    {% endif %}

</section>
{% endblock %}