{% extends "shared/layout.html" %}

{% block content %}
<details>
    <summary>How large is the museum?</summary>
    The museum contains 300,000 square feet of exhibition, programming, and<wbr />
    public space. Office and other non-public spaces are not included in this figure.<wbr />
</details>
<details>
    <summary>Can I use an image from your website for a school project or other personal use?</summary>
    Yes! We encourage users to download images from our website for non-commercial personal or classroom use,<wbr />
    without written permission, within the meaning of the principles of “fair use.” Appropriate credit to the<wbr />
    National Museum of American History, Smithsonian Institution, should appear with the image. Images on our<wbr />
    site which are credited to another person or organization may not be used without that party’s permission.<wbr />
    Please visit the Smithsonian Institution’s Terms of Use page for more information about allowable uses.<wbr />
</details>
<details>
    <summary>
        How do I get rights to use a Smithsonian image or other content<wbr />
        for a book or for other commercial purposes?<wbr />
    </summary>
    To use any text, image, audio, or video for commercial use, publication, broadcast, documentary,<wbr />
    or for any purpose other than fair use as defined by law, you must request and receive<wbr />
    prior written permission from the museum. To request permission and/or image reproductions,<wbr />
    please visit our Rights and Reproductions page.<wbr />
</details>
<details>
    <summary>
        I have a similar object to one I see on your website and I would like to know<wbr />
        how much it is worth. Can the museum provide an appraisal?<wbr />
    </summary>
    It is against Smithsonian policy to provide appraisal or valuation services. If you are interested<wbr />
    in having an item appraised, we recommend you contact the American Society of Appraisers.<wbr />
</details>
<details>
    <summary>
        I have an artifact that I want to know more about, or find out how to properly<wbr />
        take care of it. Where can I find more information?<wbr />
    </summary>
    While we would love to talk with everyone about their personal treasures, unfortunately<wbr />
    we do not have adequate time or know-how to answer questions or give advice about each specific item.<wbr />
    The Smithsonian offers general information and resources about the care and identification of historical<wbr />
    artifacts. Local and state historical societies, libraries, and professional appraisers are also good sources of information.<wbr />
</details>
<details>
    <summary>I need to research some historical facts for my homework assignment. Can you help?</summary>
    The museum does not have the resources to help with general questions about U.S. history. We encourage you to make use<wbr />
    of your local library or search reputable websites. Questions dealing with specific areas relevant to museum research<wbr />
    or staff expertise should be directed to the appropriate curatorial division or staff member.<wbr />
</details>
{% endblock %}