{% extends "shared/layout.html" %}

{% block content %}

<h1 class="banner" style="color:red">Warning!!!!!</h1>
<h3 style="color:red" id="countdown"></h3>
<br />
<div>

    <h2>Latest articles:</h2>
    {%for article in articles%}
    <article>
        <h3 style=" position:relative; left: 40px; ">{{ article.title }}</h3>
        <p class="clip">{{ article.summury }}</p>
        <img src="{{article.image.url}}" alt="Photo doesnt exist">
        <br />
        <a href="/article/{{article.pk}}">Reade more</a>
    </article>
    {%endfor%}
    <aside>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="/media/images/addBanners/addBanner.png" alt="Advertisment banner" class="banner">
        </a>
    </aside>

</div>

{% endblock %}

{%load static%}
{% block scripts%}
<script type="text/javascript" src="{% static 'js/Countdown.js' %}"></script>
{%endblock%}