{% extends "shared/layout.html" %}

{% block content %}
<!--<div class="one-line">-->
<div>

    <!--<article class="center">-->
    <article>
        <h2>Latest article:</h2>
        <h3>{{ article.title }}</h3>
        <h4>{{ article.summury }}</h4>
        <!--<img style="max-width: 100%;" src="{{article.image.url}}" alt="Photo doesnt exist">-->
        <img src="{{article.image.url}}" alt="Photo doesnt exist">
        <br />
        <a href="/article/{{article.pk}}">Reade more</a>

    </article>
     <aside >
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="/media/images/addBanners/addBanner.png" alt="Advertisment banner">
        </a>
    </aside>

</div>

{% endblock %}
