{% extends "shared/layout.html" %}

{% block title %}Info{% endblock %}

{% block content %}
  <h1>Static Info</h1>
  <article>
      <table border="1">
          <caption>Statistics</caption>
          <tr>
              <th id="parameter">Parameter</th>
              <th id="count">Count</th>
              <th id="period">Period</th>
          </tr>
          <tr>
              <td headers="parameter">Count of hals</td>
              <td headers="count">{{ halls_count }}</td>
              <td headers="period">all time</td>
          </tr>
          <tr>
              <td headers="parameter">Count of exhibits</td>
              <td headers="count">{{ exhibits_count }}</td>
              <td headers="period">all time</td>
          </tr>
          <tr>
              <td headers="parameter">Count of exhibitions</td>
              <td headers="count">{{ exhibitions_count }}</td>
              <td headers="period">all time</td>
          </tr>
          <tr>
              <td headers="parameter">Count of expositions</td>
              <td headers="count">{{ expositions_count }}</td>
              <td headers="period">all time</td>
          </tr>
          <tr>
              <td headers="parameter">Count of excursions</td>
              <td headers="count">{{ this_month_excursion_count }}</td>
              <td headers="period">this month</td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </table>
  </article>
{% endblock %}
