{% extends "shared/layout.html" %}

{% block content %}

<form name="appearanceForm">
    <label>Text color</label>
    <div>
        <div>
            <label>Red</label>
            <input type="radio" name="text_color" value="red" onchange="changeTextColor()" />
        </div>
        <div>
            <label>Green</label>
            <input type="radio" name="text_color" value="green" onchange="changeTextColor()" />
        </div>
        <div>
            <label>Blue</label>
            <input type="radio" name="text_color" value="blue" onchange="changeTextColor()" />
        </div>
    </div>
    <label>background color</label>
    <div>
        <div>
            <label>Red</label>
            <input type="radio" name="background_color" value="red" onchange="changePageColor()" />
        </div>
        <div>
            <label>Green</label>
            <input type="radio" name="background_color" value="green" onchange="changePageColor()" />
        </div>
        <div>
            <label>Blue</label>
            <input type="radio" name="background_color" value="blue" onchange="changePageColor()" />
        </div>
    </div>
    <label>Text size</label>
    <div>
        <div>
            <label>Small</label>
            <input type="radio" name="text_size" value="small" onchange="changeTextSize()" />
        </div>
        <div>
            <label>Medium</label>
            <input type="radio" name="text_size" value="medium" onchange="changeTextSize()" />
        </div>
        <div>
            <label>Big</label>
            <input type="radio" name="text_size" value="big" onchange="changeTextSize()" />
        </div>
    </div>
</form>
<article>
    <h4>Introduction</h4>


    <br /><q cite=https://www.brainyquote.com/quotes/lyndon_b_johnson_157402> The noblest search is the search for excellence. </q> - Lyndon B. Johnson


    <blockquote cite="https://www.jfklibrary.org/learn/about-jfk/life-of-john-f-kennedy/john-f-kennedy-quotations#:~:text=For%20time%20and%20the%20world,Kennedy%2C%201963.">
        - John F. Kennedy
        But Goethe tells us in his greatest poem that Faust lost the liberty of his soul when he said to the passing moment:
        'Stay, thou art so fair.' And our liberty, too, is endangered if we pause for the passing moment, if we rest on our achievements,
        if we resist the pace of progress. For time and the world do not stand still. Change is the law of life. And those who look only to
        the past or the present are certain to miss the future.
    </blockquote>

</article>
<article translate="yes">
    <figure>
        <p style="position: relative;">
            Here are breathtaking poem
        </p>
        <article myatrr="poem">
            Eyes of grey -- a sodden quay,
            Driving rain and falling tears,
            As the steamer wears to sea
            In a parting storm of cheers.
            Sing, for Faith and Hope are high --
            None so true as you and I --
            Sing the Lovers' Litany:<wbr />
            "Love like ours can never die!"

        </article>
        <figcaption myatrr="poem_caption" style="position: relative;">
            Rudyard Kipling <i>"The Lovers' Litany"</i>
        </figcaption>
    </figure>

    <article>
        <p isBreak="break">
            SHtirlic igral v karty i proigralsya. No SHtirlic umel delat' horoshuyu minu pri plohoj igre. Kogda SHtirlic pokinul kompaniyu, mina srabotala.
        </p>
    </article>

</article>

<br />
<a href="http://google.com">GOOGLE.com</a>
<br />
<a href="http://yandex.ru">YANDEX.ru</a>
<br />

<video width="360" height="240"
       src="/media/videos/HD_Epic_Sax_Gandalf.mp4"
       autoplay controls preload="none" muted>
    Video cannot be displayed
</video>

<br />
<audio autoplay controls id="awesome_music" muted>
    <source src="/media/audio/expic_music.mp3" />
</audio>

<div>
    <a>
        <p class="task">
            Thats indirect descendant of div
        </p>
    </a>
    <p class="task2">
        Thats direct descendant of div
    </p>

</div>
<p>
    Thats not
</p>

<p>FR: <q lang="fr">(FR)To be or not to be</q></p>
<p>DE: <q lang="de">(FR)To be or not to be</q></p>
<p>EN: <q lang="en">(FR)To be or not to be</q></p>

<p class="greeteng">Gustavo</p>

<form>
    <div>
        <label>Disabled input</label>
        <input disabled />
    </div>
    <div>
        <label>Max value 5</label>
        <input type="number" max="5" />
    </div>

</form>

<iframe src="https://en.wikipedia.org/wiki/C%2B%2B" style="width:1000px; height:600px;"></iframe>
<br />
<br />
<code>
    print("Hello world!")
</code>
{% if user.is_superuser %}
<div>
    <label>Enter time of image change: </label>
    <input type="number" id="time" value="5" onchange="RestartCarousel()"/>
</div>
{% endif %}
<div class="carousel-container">
    <div class="carousel-slide">
        <a href="https://com.com"><img src="/media/icons/logos/com_logo.png" alt="1"></a>
    </div>
    <div class="carousel-slide">
        <a href="https://facebook.com"><img src="/media/icons/logos/facebook.png" alt="2"></a>
    </div>
    <div class="carousel-slide">
        <a href="https://twitter.com"><img src="/media/icons/logos/twitter.png" alt="3"></a>
    </div>
</div>


{% endblock %}

{%load static%}
{% block scripts%}
<script type="text/javascript" src="{% static 'js/DinamicAppearanceChange.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
{%endblock%}