<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="tg:@Mefisto_Samael" />
    <meta name="description"
          content="My study project on web programming" />
    <title>Museum App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link rel="shortcut icon" type="image/png" href="/media/icons/logos/MuseumLogo.png">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <a href="/" class="navbar-brand">Museum App</a>
                <a href="{% url 'home' %}" class="navbar-item">Home</a>
                <a href="{% url 'about' %}" class="navbar-item">About</a>
                <a href="{% url 'excursion' %}" class="navbar-item">Excursion</a>
                <a href="{% url 'hall' %}" class="navbar-item">Halls</a>
                <a href="{% url 'exposition' %}" class="navbar-item">Expositions</a>
                <a href="{% url 'exhibition' %}" class="navbar-item">Exhibitions</a>
                <a href="{% url 'article-list' %}" class="navbar-item">Articles</a>
                <a href="{% url 'faq' %}" class="navbar-item">FAQ</a>
                <a href="{% url 'contacts' %}" class="navbar-item">Contacts</a>
                <a href="{% url 'vacancy-list' %}" class="navbar-item">Vacancies</a>
                <a href="{% url 'promocodes' %}" class="navbar-item">Promocodes</a>
                <a href="{% url 'review_list' %}" class="navbar-item">Reviews</a>

                {% if user.is_authenticated %}
                <h class="navbar-item">User: {{ user.get_username }}</h>
                {% if user.is_superuser %}
                <a href="/admin/" class="navbar-item">My account</a>
                <a href="{% url 'info' %}" class="navbar-item">Statistic</a>
                <a href="{% url 'diagram' %}" class="navbar-item">Diagram</a>

                {% else %}
                <a href="{% url 'user_account' %}" class="navbar-item">My account</a>
                {% endif %}
                <a href="/accounts/logout/" class="navbar-item">Logout</a>
                {% else %}
                <a href="/accounts/login/" class="navbar-item">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="body-content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <hr />
        <div itemscope itemtype="Http://data-vocabulary.org/Organization">
            <section>
                Our partners:
                <a href="https://twitter.com">
                    <img src="/media/icons/logos/twitter.png" alt="Facebook logo">
                </a>
                <a href="https://facebook.com">
                    <img src="/media/icons/logos/facebook.png" alt="Facebook logo">
                </a>

            </section>
            <a href="{%url 'privacy_policy'%}" itemprop="hasMerchantReturnPolicy" download="/museum/static/files/privacy_policy.txt">Our privacy policy</a>

            <section>
                Our contacts:
                <a itemprop="email" href="mailto:ganal94637@cohodl.com?subject=Вопрос">mail: ganal94637@cohodl.com</a>
                <a itemprop="telephone" href="tel:88005553535">telephone: 88005553535</a>
            </section>

            <section>
                Awesome museum since <time datetime="1879-12-7">December 7th 1879</time>.
            </section>
        </div>
    </footer>
</body>
</html>