
        <br />
        CERTIFICATE OF MEMBERSHIP IN RBMW (REGISTRY OF THE BEST MUSEUMS IN THE WORLD)
        <br />
        <br />
        <br />
        <h2>UNIFIED REGISTER OF MUSEUMS</h2>
        <h1>CERTIFICATE</h1>
        <h2><small>regarding the Inclusion of Information</small></h2>
        <br />

        uezdniy gorod N &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 32 may 2023
        <br />
        <b>ООО "Zelenoglazoe taksi"</b>
        <br />

        Ivanov I.I.
        <br />
        A very important director
