<section class="sertificate sertificate-bg">
    <br />
    <div style="text-align:center;">CERTIFICATE OF MEMBERSHIP IN RBMW (REGISTRY OF THE BEST MUSEUMS IN THE WORLD)</div>
    <br />
    <br />
    <br />
    <div style="text-align:center">UNIFIED REGISTER OF MUSEUMS</div>
    <div style="text-align:center">CERTIFICATE</div>
    <div style="text-align:center"><small>regarding the Inclusion of Information</small></div>
    <br />

    <div>
        <p style=" text-align:left;">uezdniy gorod N </p> <p style="text-align:right;"> 32 may 2023</p>
    </div>
    <br />
    <b>ООО "Zelenoglazoe taksi"</b>
    <br />

    <div class="gradient"></div>

    Ivanov I.I.
    <br />
    A very important director

</section>
